
body {
  margin: 0;
  
}

h1 {
  font-size: 50px;
  text-align: center;
  color: white;
}
h2{
text-decoration: overline;
  text-align: center;
  color: #2e8cea ;
}

h3{
text-decoration: double;
  text-align: center;
  color: #2e8cea ;
}
h4{
  text-decoration: double;
    text-align: center;
    color: #0b0c0d ;
  }
  

  


p {
  line-height: 5px;
  margin-right: .6rem;
  color: white;
  font: 150% sans-serif;
  text-align: center;
  font-size: 2.4em;
  
}


.p1 {
  line-height: 5px;
  margin-right: .6rem;
  color: rgb(12, 9, 9);
  font: 150% sans-serif;
  text-align: center;
  font-size: 2.4em;
}
.p3 {
  line-height: 10px;
  margin-right: .6rem;
  color: black ;
  font: 150% sans-serif;
  text-align: center;
  
}






ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2E86C1 ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Este color pertenece al momento se seleccionar */
li a:hover {
  background-color: #7a848b ;
}


.active {
  background-color: #4CAF50;
}

/* Propiedades de Imagenes */


img {
  width: 100%;
  height: auto;

}


.contenedor{
  width: 100%;
  height: auto;
  position: relative;
    display: inline-block;
    text-align: center;
  
  
}
/* centrar letra de imagen */
.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.contenedor{
  text-align: center;
  display: inline-block;
  margin:3px;
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat;


}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


/* Style the header */
.header {
  width: 60%;
  height: auto;

  
}


.headerbiblioteca{
  width: 50%;
  height: auto;
}
.headerlibro{
 margin-top: auto;
  width: 17%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

 
  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    padding: 0px;
    width: 50%;
    height: auto;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  

  
  /* cards */
  a {
    text-decoration: none;
    font-size: 15px;
    color: rgb(18, 1, 1);
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }

    
  
/* imagenes de desarrolladores */

  
  .centro {
    
    text-align: center;
    background: rgb(16, 16, 19);
    margin-top: 0px;
  }


  .footer {
    padding: 20px;
    text-align: center;
    background: #3498DB ;    
    margin-top: 20px;
  }

  


  /* columnas */

  * {
    box-sizing: none;
  }
  
  body {
    margin: 0;
  }
  

  
  .newspaper {
    text-align: center;
    column-count: 3;
    column-gap: 40px;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: lightblue;
    
  }

  .desc{
    text-align: center;

  }
  
  
  div.gallery:hover {
    border: 0px solid #777;
  }
  
  div.gallery img {
    width: 20%;
    height: auto;
    border-radius: 50%;

  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .responsive {
    padding: 0 5px;
    float: left;

  }
 