<div class="container">
    <div class="content">
        <h2>Bienvenido al {{title}}</h2>
        <p>Gestiona tu biblioteca de manera eficiente y sencilla con nuestra plataforma.</p>
    </div>
</div>