<!DOCTYPE html>
<html>
<head>
</head>
<body> 
 
  <ul>
  <li><a href="#inicio">Inicio</a></li>
  <li><a href="#acerca de ">Acerca De</a></li>
  <li><a href="#Documentacon">Documentación</a></li>
  <li><a href="#contact">Contactos</a></li>
  <li style="float:right"><a class="active" href="#about">Buscar</a></li>
</ul>
<img src="img/itgam.png" >

<h1 >REST API </h1>
<p>Sistema de Administración de Recursos de la Biblioteca del ITGAM</p>






 

    </footer>
    </body>



  


</html>