<html>
  
  <head>
    <title>Biblioteca Instituto Tecnológico de Gustavo A. Madero</title>
  </head>
  <body>
    <h1>Propuesta de pagina de la Biblioteca ITGAM</h1>
    <p>www.bibliotecaitgustavoamadero.tecnm.mx</p>
    <p>www.bibliotecaitgamadero.tecnm.mx</p>
     <p>www.bibliotecatecgm.tecnm.mx</p>
      <p>www.bibliotecaitgmadero.tecnm.mx</p>

  </body>
</html>