<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<head>
</head>
<body> 
 <div class="header">
  <img src="img/itgam-banner.jpg" alt="">
</div>
<div>
  <ul>
  <li><a href="#inicio">Inicio</a></li>
  <li><a href="#acerca de ">Acerca De</a></li>
  <li><a href="#Documentacon">Documentación</a></li>
  <li><a href="#contact">Contactos</a></li>
  <li style="float:right"><a class="active" href="#about">Buscar</a></li>
</ul>
</div>

<div class="row">
  <div class="column">
    <img src="https://www.inah.gob.mx/images/fotodeldia/20230526_fotodia_BibliotecaPalafoxiana.jpg" alt="Snow" style="width:100%">
  </div>
  <div class="column">
    <img src="https://www.inah.gob.mx/images/fotodeldia/20230526_fotodia_BibliotecaPalafoxiana.jpg" alt="Forest" style="width:100%">
  </div>
</div>
    

    
    <div class="centrado">
<h1 >REST API </h1>
<p>Sistema de Administración de Recursos de la Biblioteca del ITGAM</p>
    </div> 
</div>
</div>

<div class="newspaper">
<h2>DESARROLLADORES</h2>
<div class="responsive">
   <h3>Plataforma de desarrollo de la API</h3>
  <p3>Github sirve para gestionar proyectos y permite colaborar con una gran comunidad de desarrolladores.
  </p3>
  <h3>¿Que es API REST?</h3>
  <p3>Es un sistema de administración de la biblioteca del ITGAM. Desarrollada con software como:Node.JS y MongoDB.
  </div>
  </div>
</div>
</div>

<div class="newspaper">
<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="https://github.com/PamRios">
      <img src="https://avatars.githubusercontent.com/u/124759381?v=4">
      <a target="_blank" href="https://github.com/rivalcoba"></a>
      <img src="https://avatars.githubusercontent.com/u/3945886?v=4">
       <a target="_blank" href="https://github.com/dashboard"></a>
      <img src="https://avatars.githubusercontent.com/u/138613359?s=400&u=e4f773d89ea632b88bfebe11f239dee9e942e576&v=4">
    </a>
  </div>
  </div>
  </div>
  




    

   <div class="footer">
  <h4>Dirección</h4>
  <p3> Avenida 608 y Avenida 412 300, Zoológico de San Juan de Aragón, Gustavo A. Madero, 
    07470 Ciudad de México, CDMX</p3>
</div>
    </body>
