<div class="container">
  <h1>Error 404 - Página no encontrada</h1>
  <p>Lo sentimos, la página que estás buscando no se encuentra.</p>
  <img height="300vw" src="/img/h404.jpeg" alt="Imagen no encontrada">
</div>